REDIS_URL=rediss://default:xxx@xxx.upstash.io:6379
BACKEND_URL=https://ramotors-api.onrender.com
WORKER_API_KEY=mesma-chave-do-backend-env
EVOLUTION_URL=http://evolution-api:8080
EVOLUTION_KEY=chave-da-evolution-api
